# Database
DATABASE_URL=postgresql://user:password@host:port/database

# Rails
RAILS_ENV=production
SECRET_KEY_BASE=gere_com_rails_secret
RAILS_SERVE_STATIC_FILES=true
RAILS_LOG_TO_STDOUT=true

# CORS (produção)
CORS_ORIGINS=https://seu-frontend.com,https://www.seu-frontend.com

# Auth
JWT_SECRET_KEY=gere_com_rails_secret